In [56]:
# load libraries
import os
os.chdir('B:/Projects/CourseWork/coursework/RP5/data')

import numpy as np
import pandas as pd
import datetime

import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_rows', None)

In [88]:
# load airport_ogimet

dfao = pd.read_csv('airport_ogimet.csv')
dfao['time1'] = dfao['date'] + ' ' + dfao['time']
dfao = dfao.drop(columns={'Unnamed: 0', 'date', 'time'})
dfao['time1'] =  pd.to_datetime(dfao['time1'], format='%m/%d/%Y %H:%M')
dfao.rename(columns={ 'time1': "time" }, inplace = True)
dfao = dfao.set_index('time')
dfao = dfao.loc[~dfao.index.duplicated(keep='first')]
dfao.head(10)

                        T   Tmax   Tmin
time
1999-09-14 15:00:00  16.0   23.5  -----
1999-09-14 18:00:00  13.7   23.5  -----
1999-09-14 21:00:00  14.3  -----  -----
1999-09-15 00:00:00  12.9  -----  -----
1999-09-15 03:00:00  14.0  -----  -----
1999-09-16 18:00:00  14.3   21.9  -----
1999-09-16 21:00:00  12.3  -----  -----
1999-09-17 00:00:00  10.2  -----  -----
1999-09-17 03:00:00  10.6  -----  -----
1999-09-17 06:00:00  16.9  -----    9.5

In [58]:
# load data omsk

df = pd.read_csv('omsk.csv', sep=';', skiprows=6)
df.rename(columns={ df.columns[0]: "time" }, inplace = True)
df['time'] =  pd.to_datetime(df['time'], format='%d.%m.%Y %H:%M')
df = df.set_index('time')
df = df.iloc[::-1]
# df = df.drop(columns=['P', 'Pa', 'ff10', 'ff3', 'Ch', 'Td', 'E', 'Tg', 'W1', 'W2', 'Cl', 'Nh', 'H', 'Cm', "E'", 'Unnamed: 29'])
df.head(3)

C:\Users\Dima\AppData\Roaming\Python\Python36\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (28) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,T,Po,P,Pa,U,DD,Ff,ff10,ff3,N,...,Ch,VV,Td,RRR,tR,E,Tg,E',sss,Unnamed: 29
time,,,,,,,,,,,,,,,,,,,,,
2005-02-01 06:00:00,-26.9,775.1,788.4,NaN,80.0,"Calm, no wind",0.0,NaN,NaN,20–30%.,...,"Cirrus fibratus, sometimes uncinus, not progre...",50.0,-29.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-02-01 09:00:00,-27.9,775.2,788.6,NaN,80.0,"Calm, no wind",0.0,NaN,NaN,20–30%.,...,"Cirrus fibratus, sometimes uncinus, not progre...",4.2,-30.3,NaN,NaN,NaN,NaN,Even layer of loose dry snow covering ground c...,49,NaN
2005-02-01 12:00:00,-19.6,773.3,786.2,NaN,85.0,Wind blowing from the south-southwest,1.0,NaN,NaN,100%.,...,"Cirrus spissatus, in patches or entangled shea...",6.0,-21.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
# load data airport

dfa = pd.read_csv('airport.csv', sep=';', skiprows=6)
dfa.rename(columns={ dfa.columns[0]: "time" }, inplace = True)
dfa['time'] =  pd.to_datetime(dfa['time'], format='%d.%m.%Y %H:%M')
dfa = dfa.set_index('time')
dfa = dfa.iloc[::-1]
dfa.head(3)

data.drop_duplicates(subset ="First Name", 
                     keep = False, inplace = True)

C:\Users\Dima\AppData\Roaming\Python\Python36\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,T,P0,P,U,DD,Ff,ff10,WW,W'W',c,VV,Td,Unnamed: 13
time,,,,,,,,,,,,,
2012-09-26 13:00:00,18.0,749.3,757.7,34.0,Wind blowing from the south-west,5.0,NaN,NaN,NaN,"Scattered clouds (40-50%) 990 m, broken clouds...",10.0 and more,2.0,NaN
2012-09-26 14:00:00,18.0,749.3,757.7,34.0,Wind blowing from the west-southwest,4.0,NaN,NaN,NaN,"Broken clouds (60-90%) 990 m, overcast (100%) ...",10.0 and more,2.0,NaN
2012-09-26 15:00:00,17.0,749.3,757.7,34.0,Wind blowing from the south-west,7.0,NaN,NaN,NaN,"Broken clouds (60-90%) 990 m, overcast (100%) ...",10.0 and more,1.0,NaN

In [80]:
# merge to one df for comparing
# get slice of data

#filter by time
dfa = dfa.loc[(dfa.index.time == datetime.time(0,0)) | (dfa.index.time == datetime.time(3,0)) | (dfa.index.time == datetime.time(6,0)) | (dfa.index.time == datetime.time(9,0)) | (dfa.index.time == datetime.time(12,0)) | (dfa.index.time == datetime.time(15,0)) | (dfa.index.time == datetime.time(18,0)) | (dfa.index.time == datetime.time(21,0))]

MONTH_START = 11
MONTH_END = 3
DAY_START = 1
DAY_END = 1

df_omsk = df[datetime.date(2012,MONTH_START,1):datetime.date(2013,MONTH_END,DAY_END)]
df_airport = dfa[datetime.date(2012,MONTH_START,DAY_START):datetime.date(2013,MONTH_END,DAY_END)]

df_omsk = df_omsk.append(df[datetime.date(2013,MONTH_START,DAY_START):datetime.date(2014,MONTH_END,DAY_END)])
df_airport = df_airport.append(dfa[datetime.date(2013,MONTH_START,DAY_START):datetime.date(2014,MONTH_END,1)])

df_omsk = df_omsk.append(df[datetime.date(2014,MONTH_START,DAY_START):datetime.date(2015,MONTH_END,DAY_END)])
df_airport = df_airport.append(dfa[datetime.date(2014,MONTH_START,DAY_START):datetime.date(2015,MONTH_END,1)])

df_omsk = df_omsk.append(df[datetime.date(2015,MONTH_START,DAY_START):datetime.date(2016,MONTH_END,DAY_END)])
df_airport = df_airport.append(dfa[datetime.date(2015,MONTH_START,DAY_START):datetime.date(2016,MONTH_END,DAY_END)])

df_omsk = df_omsk.append(df[datetime.date(2016,MONTH_START,DAY_START):datetime.date(2017,MONTH_END,DAY_END)])
df_airport = df_airport.append(dfa[datetime.date(2016,MONTH_START,DAY_START):datetime.date(2017,MONTH_END,DAY_END)])

df_omsk = df_omsk.append(df[datetime.date(2017,MONTH_START,DAY_START):datetime.date(2018,MONTH_END,DAY_END)])
df_airport = df_airport.append(dfa[datetime.date(2017,MONTH_START,DAY_START):datetime.date(2018,MONTH_END,DAY_END)])

df_omsk = df_omsk.append(df[datetime.date(2018,MONTH_START,DAY_START):datetime.date(2019,MONTH_END,DAY_END)])
df_airport = df_airport.append(dfa[datetime.date(2018,MONTH_START,DAY_START):datetime.date(2019,MONTH_END,DAY_END)])

df_omsk = df_omsk.append(df[datetime.date(2019,MONTH_START,DAY_START):datetime.date(2020,MONTH_END,DAY_END)])
df_airport = df_airport.append(dfa[datetime.date(2019,MONTH_START,DAY_START):datetime.date(2020,MONTH_END,DAY_END)])

df_merged = df_omsk[['T']].copy()
df_merged['T_a'] = df_airport['T']

df_merged['wind'] = df_omsk['DD']
df_merged['clouds'] = df_omsk['N']
df_merged['Nh'] = df_omsk['Nh']
df_merged['diff'] = df_merged['T'] - df_merged['T_a']
df_merged['abs_diff'] = abs(df_merged['T'] - df_merged['T_a'])
df_merged['H'] = df_omsk['H']
df_merged['Ff'] = df_omsk['Ff']
df_merged['ff10'] = df_omsk['ff10']

In [93]:
MONTH_START = 11
MONTH_END = 3
DAY_START = 1
DAY_END = 1

df_omsk = df[datetime.date(2005,MONTH_START,1):datetime.date(2006,MONTH_END,DAY_END)]
dfao_t = dfao[datetime.date(2005,MONTH_START,DAY_START):datetime.date(2006,MONTH_END,DAY_END)]

df_omsk = df_omsk.append(df[datetime.date(2006,MONTH_START,DAY_START):datetime.date(2007,MONTH_END,DAY_END)])
dfao_t = dfao_t.append(dfao[datetime.date(2006,MONTH_START,DAY_START):datetime.date(2007,MONTH_END,1)])

df_omsk = df_omsk.append(df[datetime.date(2007,MONTH_START,DAY_START):datetime.date(2008,MONTH_END,DAY_END)])
dfao_t = dfao_t.append(dfao[datetime.date(2007,MONTH_START,DAY_START):datetime.date(2008,MONTH_END,1)])

df_omsk = df_omsk.append(df[datetime.date(2008,MONTH_START,DAY_START):datetime.date(2009,MONTH_END,DAY_END)])
dfao_t = dfao_t.append(dfao[datetime.date(2008,MONTH_START,DAY_START):datetime.date(2009,MONTH_END,1)])

df_omsk = df_omsk.append(df[datetime.date(2009,MONTH_START,DAY_START):datetime.date(2010,MONTH_END,DAY_END)])
dfao_t = dfao_t.append(dfao[datetime.date(2009,MONTH_START,DAY_START):datetime.date(2010,MONTH_END,1)])

df_omsk = df_omsk.append(df[datetime.date(2010,MONTH_START,DAY_START):datetime.date(2011,MONTH_END,DAY_END)])
dfao_t = dfao_t.append(dfao[datetime.date(2010,MONTH_START,DAY_START):datetime.date(2011,MONTH_END,1)])

df_omsk = df_omsk.append(df[datetime.date(2011,MONTH_START,DAY_START):datetime.date(2012,MONTH_END,DAY_END)])
dfao_t = dfao_t.append(dfao[datetime.date(2011,MONTH_START,DAY_START):datetime.date(2012,MONTH_END,1)])

# dfao = dfao.loc['2005-11-01':'2006-03-01']
df_merged = df_omsk[['T']].copy()
df_merged['T_a'] = dfao_t['T']
df_merged['wind'] = df_omsk['DD']

In [78]:
df_merged['wind'] = df_merged['wind'].replace(['Wind blowing from the west','Wind blowing from the south-west','Wind blowing from the west-southwest','Wind blowing from the west-northwest'],'West')
df_merged['wind'] = df_merged['wind'].replace(['Wind blowing from the north','Wind blowing from the north-west','Wind blowing from the north-northwest','Wind blowing from the north-northeast'],'North')
df_merged['wind'] = df_merged['wind'].replace(['Wind blowing from the east','Wind blowing from the north-east','Wind blowing from the east-southeast','Wind blowing from the east-northeast'],'East')
df_merged['wind'] = df_merged['wind'].replace(['Wind blowing from the south','Wind blowing from the south-east','Wind blowing from the south-southwest','Wind blowing from the south-southeast'],'South')

In [95]:
df_merged.tail(10)

                        T    T_a                                  wind
time
2012-02-28 21:00:00 -17.6  -23.0            Wind blowing from the east
2012-02-29 00:00:00 -18.2  -22.0  Wind blowing from the east-southeast
2012-02-29 03:00:00 -23.0  -19.9            Wind blowing from the east
2012-02-29 06:00:00 -22.0  -13.8  Wind blowing from the east-northeast
2012-02-29 09:00:00 -19.9   -8.8  Wind blowing from the east-northeast
2012-02-29 12:00:00 -13.8   -9.2  Wind blowing from the east-northeast
2012-02-29 15:00:00  -8.8  -16.0            Wind blowing from the east
2012-02-29 18:00:00  -9.2  -19.2  Wind blowing from the east-northeast
2012-02-29 21:00:00 -16.0  -21.3  Wind blowing from the east-northeast
2012-03-01 00:00:00 -19.2  -23.0                         Calm, no wind